.destination-wrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.destination-wrapper img {
  width: 100%;
}

.destination-info h3 {
  font-family: "Yesteryear", -apple-system, BlinkMacSystemFont, "sans-serif";
}

.popular-headline {
  color: #3d4152;
  font-size: 34px;
}

.destination-info {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 24.79%, #000 100%);
}

.pagination {
color: #FF4514;
}

.slide-arrow {
  background-color: #fff3ed;
  border-radius: 62px;
  padding: 19px 19px;
}
